flows.json
[{"id":"8160e6c2.a515d8","type":"http in","z":"72da8658.633b88","name":"Entrada","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["689b644c.40b9cc"]]},{"id":"689b644c.40b9cc","type":"function","z":"72da8658.633b88","name":"Preparando a entrada","func":"msg.params = {\n    'session_id': msg.payload.session_id !== 'undefined' ? msg.payload.session_id : ''\n}\nmsg.payload = msg.payload.mensagem;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["c8b4d3f5.05946"]]},{"id":"c8b4d3f5.05946","type":"watson-assistant-v2","z":"72da8658.633b88","name":"Vendas","service-endpoint":"","assistant_id":"9170f049-5a05-4e0a-afe7-e0d1c02bd511","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":520,"y":260,"wires":[["6c5690e.99b817"]]},{"id":"6c5690e.99b817","type":"function","z":"72da8658.633b88","name":"Preparando a resposta","func":"msg.payload = {\n    'respostas': msg.payload.output.generic,\n    'session_id': msg.payload.session_id\n};\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":260,"wires":[["a230255.9865e58","74f5ee8.342ad1"]]},{"id":"a230255.9865e58","type":"http response","z":"72da8658.633b88","name":"Saída","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":950,"y":240,"wires":[]},{"id":"74f5ee8.342ad1","type":"debug","z":"72da8658.633b88","name":"Resposta Assistant","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":320,"wires":[]}]